<launch>
	<rosparam command="load" file="$(find config-gen)/config/joint_names.yaml" />
	<include file="$(find config-gen)/launch/planning_context.launch">
		<arg name="load_robot_description" value="true" />
	</include>
	<include file="$(find config-gen)/launch/move_group.launch">
		<arg name="publish_monitored_planning_scene" value="true" />
	</include>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="/use_gui" value="false" />
		<rosparam param="/source_list">
			[robot/joint_states]
		</rosparam>
	</node>
	<include file="$(find config-gen)/launch/moveit_rviz.launch">
		<arg name="rviz_config" value="$(find config-gen)/launch/moveit.rviz" />
	</include>
</launch>
